extends ../layouts/default

block content
	.container: .jumbotron
		h2 Editor
		p Search through user uploaded cloud formation templates.
		div(name='editor') function foo(items) { var x = "All this is syntax highlighted"; return x; }
		