extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.png', width='160')
		h2 CloudFormation Repositories
		p Search through user uploaded cloud formation templates.
